@model IEnumerable<ShoeStore.Models.Shoe>
        @foreach (var item in Model)
        {

                <a asp-area="" asp-controller="Shoes" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
        }
