@{
    ViewData["Title"] = "Anasayfa";
}


<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="~/img/banner01.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h1>Bags sale</h1>
                        <h3 class="white-color font-weak">50% İndirim</h3>
                        <a asp-area="" asp-controller="Shoes" asp-action="Index" class="primary-btn">Alışveriş Yap</a>
                    </div>
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="~/img/banner02.jpg" alt="">
                    <div class="banner-caption">
                        <h1 class="primary-color">İndirimler<br><span class="white-color font-weak">%50'ye varav</span></h1>
                        <a asp-area="" asp-controller="Shoes" asp-action="Index" class="primary-btn">Alışveriş Yap</a>
                    </div>
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="~/img/banner03.jpg" alt="">
                    <div class="banner-caption">
                        <h1 class="white-color">Yeni Ürünler <span>Collection</span></h1>
                        <a asp-area="" asp-controller="Shoes" asp-action="Index" class="primary-btn">Alışveriş Yap</a>
</div>
                </div>
                <!-- /banner -->
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz!</h1>

</div>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- banner -->
            <div class="col-md-4 col-sm-6">
                <a class="banner banner-1" asp-area="" asp-controller="Shoes" asp-action="Index">
                    <img src="./img/banner10.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">Yeni Ürünler</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->
            <!-- banner -->
            <div class="col-md-4 col-sm-6">
                <a class="banner banner-1" asp-area="" asp-controller="Shoes" asp-action="Index">
                    <img src="./img/banner11.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">Yeni Ürünler</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->
            <!-- banner -->
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3">
                <a class="banner banner-1" asp-area="" asp-controller="Shoes" asp-action="Index">
                    <img src="./img/banner12.jpg" alt="">
                    <div class="banner-caption text-center">
                        <h2 class="white-color">Yeni Ürünler</h2>
                    </div>
                </a>
            </div>
            <!-- /banner -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>