@{
    ViewData["Title"] = "Hakkımızda";
}
<div style="margin:100px;"></div>
<table style="margin:200px;">
    <thead>
        <h1>@ViewData["Title"]</h1>
    </thead>
    <tbody>
        <p>Online ayakkabı almanın en güvenli yolu.</p>
    </tbody>
</table>



