@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Şifreniz sıfırlandı. Please <a asp-page="./Login">click here to log in</a>.
</p>
