@model IEnumerable<ShoeStore.Models.Brand>

@{
    ViewData["Title"] = "Index";
}


<div>
    <table align="center" style="margin:100px" class="table">
        <tbody>
            <tr>
                <td>
                    <img src="~/markalar/adidas.jpg" width="100" height="100" />
                </td>
                <td>
                    <img src="~/markalar/nike.jpg" width="100" height="100" />
                </td>
                <td>
                    <img src="~/markalar/puma.jpg" width="100" height="100" />
                </td>
                <td>
                    <img src="~/markalar/converse.jpg" width="100" height="100" />
                </td>


            </tr>

            <tr>
                <td>
                    <img src="~/markalar/reebok.jpg" width="100" height="100" />
                </td>
                <td>
                    <img src="~/markalar/birkenstock.jpg" width="100" height="100" />
                </td>
                <td>
                    <img src="~/markalar/cat.jpg" width="100" height="100" />
                </td>
                <td>
                    <img src="~/markalar/derimod.jpg" width="100" height="100" />
                </td>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/markalar/lacoste.jpg" width="100" height="100" />
                </td>
                <td>
                    <img src="~/markalar/vans.jpg" width="100" height="100" />
                </td>
                <td>
                    <img src="~/markalar/prada.jpg" width="100" height="100" />
                </td>
                <td>
                    <img src="~/markalar/bambi.jpg" width="100" height="100" />
                </td>
            </tr>

        </tbody>
    </table>
</div>
